In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
data = pd.read_csv('./Road_Weather_Information_Stations.csv')

In [3]:
data

,StationName,StationLocation,DateTime,RecordId,RoadSurfaceTemperature,AirTemperature
0,RooseveltWay_NE80thSt,POINT (-122.31765 47.692098),02/25/2020 02:14:00 AM,3818250,41.89,41.89
1,AuroraBridge,POINT (-122.347278 47.643174),02/24/2020 02:18:00 AM,3753392,44.51,41.58
2,AuroraBridge,POINT (-122.347278 47.643174),02/24/2020 02:19:00 AM,3753393,44.48,41.59
3,AuroraBridge,POINT (-122.347278 47.643174),02/24/2020 02:20:00 AM,3753394,44.48,41.61
4,NE45StViaduct,POINT (-122.301929 47.66127),02/24/2020 02:06:00 AM,3822795,43.38,42.98
...,...,...,...,...,...,...
32069,35thAveSW_SWMyrtleSt,POINT (-122.37658 47.53918),02/24/2020 01:05:00 AM,2671347,43.52,43.52
32070,AuroraBridge,POINT (-122.347278 47.643174),02/24/2020 01:01:00 AM,3753315,44.92,41.43
32071,35thAveSW_SWMyrtleSt,POINT (-122.37658 47.53918),02/24/2020 01:06:00 AM,2671348,43.51,43.51
32072,AuroraBridge,POINT (-122.347278 47.643174),02/24/2020 01:02:00 AM,3753316,44.92,41.40
32073,35thAveSW_SWMyrtleSt,POINT (-122.37658 47.53918),02/24/2020 01:07:00 AM,2671349,43.50,43.50

In [5]:
#Looks at first 5 rows of data
data.head()

,StationName,StationLocation,DateTime,RecordId,RoadSurfaceTemperature,AirTemperature
0,RooseveltWay_NE80thSt,POINT (-122.31765 47.692098),02/25/2020 02:14:00 AM,3818250,41.89,41.89
1,AuroraBridge,POINT (-122.347278 47.643174),02/24/2020 02:18:00 AM,3753392,44.51,41.58
2,AuroraBridge,POINT (-122.347278 47.643174),02/24/2020 02:19:00 AM,3753393,44.48,41.59
3,AuroraBridge,POINT (-122.347278 47.643174),02/24/2020 02:20:00 AM,3753394,44.48,41.61
4,NE45StViaduct,POINT (-122.301929 47.66127),02/24/2020 02:06:00 AM,3822795,43.38,42.98

In [6]:
#looks at last 5 rows of data
data.tail()

,StationName,StationLocation,DateTime,RecordId,RoadSurfaceTemperature,AirTemperature
32069,35thAveSW_SWMyrtleSt,POINT (-122.37658 47.53918),02/24/2020 01:05:00 AM,2671347,43.52,43.52
32070,AuroraBridge,POINT (-122.347278 47.643174),02/24/2020 01:01:00 AM,3753315,44.92,41.43
32071,35thAveSW_SWMyrtleSt,POINT (-122.37658 47.53918),02/24/2020 01:06:00 AM,2671348,43.51,43.51
32072,AuroraBridge,POINT (-122.347278 47.643174),02/24/2020 01:02:00 AM,3753316,44.92,41.40
32073,35thAveSW_SWMyrtleSt,POINT (-122.37658 47.53918),02/24/2020 01:07:00 AM,2671349,43.50,43.50

In [12]:
#descriptive statistics for each of your variables
data.describe()

           RecordId  RoadSurfaceTemperature  AirTemperature
count  3.207400e+04            32074.000000    32074.000000
mean   3.130538e+06               45.046232       44.238897
std    1.027365e+06                5.637982        4.303835
min    6.812330e+05               33.020000       31.690000
25%    2.776962e+06               41.370000       41.530000
50%    3.732360e+06               44.290000       43.930000
75%    3.785424e+06               49.130000       47.230000
max    3.825349e+06               62.500000       62.500000

In [19]:
#allows for grouping data by categories within whole data set 
#function at end denotes unit operation
#operation examples above
data.groupby(by='StationName').mean()

,RecordId,RoadSurfaceTemperature,AirTemperature
StationName,,,
35thAveSW_SWMyrtleSt,2.672621e+06,43.961937,43.961937
AlbroPlaceAirportWay,6.825746e+05,36.565986,39.133304
AuroraBridge,3.754594e+06,46.556574,43.761917
HarborAveUpperNorthBridge,2.778312e+06,46.162060,43.802940
MagnoliaBridge,3.784093e+06,48.154036,44.245566
NE45StViaduct,3.824008e+06,46.883708,44.000256
RooseveltWay_NE80thSt,3.818020e+06,46.278540,46.278540
SpokaneSwingBridge,3.731029e+06,45.786144,48.737976

In [25]:
#data sorting sort by datetime
data= data.sort_values(by='DateTime')

In [28]:
# access to data for column of data time here it exists as a string
print(data['DateTime'])
type(data['DateTime'][1])

15318    02/24/2020 01:00:00 AM
26927    02/24/2020 01:00:00 AM
26942    02/24/2020 01:00:00 AM
12425    02/24/2020 01:00:00 AM
32032    02/24/2020 01:00:00 AM
                  ...
28413    02/25/2020 12:59:00 PM
29021    02/25/2020 12:59:00 PM
28242    02/25/2020 12:59:00 PM
27176    02/25/2020 12:59:00 PM
28344    02/25/2020 12:59:00 PM
Name: DateTime, Length: 32074, dtype: object

str

In [31]:
#take data in this column and transform from string into oject Timestamp
data['DateTime']=pd.to_datetime(data['DateTime'])
print(data['DateTime'])                                   #print transformed data
type(data['DateTime'][1])                                 #print data type

15318   2020-02-24 01:00:00
26927   2020-02-24 01:00:00
26942   2020-02-24 01:00:00
12425   2020-02-24 01:00:00
32032   2020-02-24 01:00:00
                ...
28413   2020-02-25 12:59:00
29021   2020-02-25 12:59:00
28242   2020-02-25 12:59:00
27176   2020-02-25 12:59:00
28344   2020-02-25 12:59:00
Name: DateTime, Length: 32074, dtype: datetime64[ns]

pandas._libs.tslibs.timestamps.Timestamp

In [32]:
#pandas defines calumn names as legitimate variables ie 'StationName' 
#unique takes any array and detirmines all unique values
data.StationName.unique()

array(['RooseveltWay_NE80thSt', 'AlbroPlaceAirportWay',
       '35thAveSW_SWMyrtleSt', 'SpokaneSwingBridge', 'AuroraBridge',
       'MagnoliaBridge', 'NE45StViaduct', 'HarborAveUpperNorthBridge'],
      dtype=object)

In [33]:
print(data.StationName)

15318    RooseveltWay_NE80thSt
26927     AlbroPlaceAirportWay
26942     35thAveSW_SWMyrtleSt
12425       SpokaneSwingBridge
32032       SpokaneSwingBridge
                 ...
28413    RooseveltWay_NE80thSt
29021       SpokaneSwingBridge
28242     AlbroPlaceAirportWay
27176       SpokaneSwingBridge
28344    RooseveltWay_NE80thSt
Name: StationName, Length: 32074, dtype: object